<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TP3-PV</title>
</head>
<body>
<header>
    <h1>Java y Programacion Visual</h1>
    <nav>
        <ul>
            <li><a href="#Programacion Visual">Programacion Visual</a></li>
            <li><a href="#Java">Java</a></li>
            <li><a href="#ejemplos">Ejemplos</a></li>
        </ul>
    </nav>
</header>

<main>
    <section id="Programacion Visual">
        <h2>Introducción a la Programación Visual</h2>
        <p>Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems.</p>
        <p>El lenguaje de programación Java fue desarrollado originalmente por James Gosling, de Sun Microsystems (constituida en 1983 y posteriormente adquirida el 27 de enero de 2010 por la compañía Oracle), y publicado en 1995 como un componente fundamental de la plataforma Java de Sun Microsystems. Su sintaxis deriva en gran medida de C y C++, pero tiene menos utilidades de bajo nivel que cualquiera de ellos. Las aplicaciones de Java son compiladas a bytecode (clase Java), que puede ejecutarse en cualquier máquina virtual Java (JVM) sin importar la arquitectura de la computadora subyacente.</p>
    </section>

    <section id="Java">
        <h2>Conceptos Básicos</h2>
        <h3>Entornos de Desarrollo Visual</h3>
        <p>Los entornos de desarrollo visual proporcionan interfaces gráficas intuitivas que permiten a los desarrolladores crear, editar y depurar programas visualmente.</p>
        <h3>Programación por Bloques</h3>
        <p>La programación por bloques es una técnica de programación visual que implica arrastrar y soltar bloques de código predefinidos para construir algoritmos.</p>
        <ul>
            <li>Java 8</li>
            <li>Java 12</li>
            <li>Java 13</li>
        </ul>
    </section>

    <section id="ejemplos">
        <h2>Ejemplos</h2>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
            <tr>
				<tD>Nombre</tD>
                <td>Descripción</td>
            </tr>
            <tr>
                <tD>Nombre</tD>
                <td>Descripción</td>
            </tr>
        </table>
    </section>
</main>

<aside>
    <h2>Recursos Adicionales</h2>
    <ul>
        <li><a href="https://www.java.com/es/">Sitio oficial de Java</a></li>
    </ul>
    <img src="/images/java-logo.jpg" alt="Java">
</aside>

<footer>
    <p>Contacto: ejemplo@correo.com</p>
    <p>Síguenos en redes sociales:</p>
    <ul>
        <li><a href="https://facebook.com/ejemplo">Facebook</a></li>
        <li><a href="https://twitter.com/ejemplo">Twitter</a></li>
    </ul>
</footer>

</body>
</html>
